body {
    width: 100%;
    background-color: #efefef;
    font-family: 'kredit', 'Impact', sans-serif;
    text-transform: uppercase;
}

main {
    margin: 20px auto;
    width: 500px;
    height: 500px;
}

h1 {
    text-align: center;
    /*    font-weight: bold;*/
    /*    font-family:'kredit back'*/
}

#cc {
    margin: 20px auto;
    border: solid black 1px;
    width: 86%;
    height: 53%;
    background: linear-gradient(to right, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
    border-radius: 4px;
    color: white;
    box-shadow: 5px 5px 5px #888888;
}

img {
    width: 25%;
    float: right;
    margin: 10px 10px;
}

p {
    font-size: 1em;
}

#card {
    margin-top: 60px;
    margin-bottom: 30px;
}

#name {
    margin-bottom: 10px;
}

#exp {
    width: 40%;
    float: left
}

#cvc {
    width: 40%;
    float: left;
}

input {
    border: none;
    background: none;
    border-bottom: 1px solid white;
    width: 40%;
    margin-left: 50px;
    float: left;
    font-family:inherit;
    font-size:1em;
    font-weight:lighter;
    color:white;
    text-transform: capitalize;
}

input:focus {
    width:45%;
     outline: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#cc p {
    margin-top: 10px;
    padding-left: 20px;
}

a {
    border:none;
    background-color:none;
    border-radius: 4px;
    float:right;
    margin-right:10px;
    margin-top:50px;
    color:white;
    text-decoration: none;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}